/*-----------------------*\
    $Gallery
\*-----------------------*/

.gallery-defined img {
    display: inline-block;
    margin-left: 4%;
    margin-bottom: 1.5em;
    overflow: hidden; /* dimensions are defined */
    padding: 0;

    /* dimensions
     * mobile first starts at window width 15em
     * height according vertical rhythm
     * image min-height is 15em
     * design grid ends by 80em. See $Grid
     */

    width: 92%;
    height: 15em;
}

/* two columns */
@media (min-width: 34.1em) {
    .gallery-defined img {
        width: 44%;
    }
}

/* three columns */
@media (min-width: 53.6em) {
    .gallery-defined img {
        margin-bottom: 3em;
        width: 28%;
    }
}

/* four columns */
@media (min-width: 75em) {
    .gallery-defined img {
        width: 20%;
    }
}
